<%= form_for([@article, @article.comment.build]) do |f| %>
  <div class="mb-3">
    <div class="field">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_area :name, class: "form-control"%>
    </div>
  </div>
  <div class="mb-3">
    <div class="field">
      <%= f.label :text, class: "form-label" %>
      <%= f.text_field :text, class:"form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Publish", class: "btn btn-primary" %>
  </div>
<% end %>

