<h1>Jorge</h1>

<% 1+1 %>
<%= 1+1 %>
<%# commmets%>

<% 5.times do |x|
    puts x
    end
%>

<% 5.times do |x| %>
    <%= x %>
    <%end%>

<%= @message %>
<br>
<%= "Controlller: #{@message}" %>
<ul>
    <% @users.each do |i| %>
        <%= "<li> #{i} </li>".html_safe %>
    <%end%>
</ul>

<%= link_to 'Home', root_path %>
<%= link_to 'Contacto', estaticas_contacto_path %>
<%= link_to 'Contacto',  
            {:controller => 'estaticas',
            :action => 'contacto',
            :id => 3,
            :pagina => 2,
            },
            :class => 'my-class',
            :target => '_blank'%>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div>