<h1>Jorge</h1>

<% 1+1 %>
<%= 1+1 %>
<%# commmets%>

<% 5.times do |x|
    puts x
    end
%>

<% 5.times do |x| %>
    <%= x %>
    <%end%>

<%= @message %>
<br>
<%= "Controlller: #{@message}" %>
<ul>
    <% @users.each do |i| %>
        <%= "<li> #{i} </li>".html_safe %>
    <%end%>
</ul>

<%= link_to 'Home', root_path %>
<%= link_to 'Contacto', estaticas_contacto_path %>
<%= link_to 'Contacto',  
            {:controller => 'estaticas',S
            :action => 'contacto',
            :id => 3,
            :pagina => 2,
            },
            :class => 'my-class',
            :target => '_blank'%>